.section-team {
    background-color: #F4F4FD;
}

.section-team-item {
    background-color: #FFFFFF;
}

.team-names {
        font-weight: 500;
        font-size: 20px;
            /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}

.team-occupations {
        font-weight: 400;
        font-size: 16px;
            /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}